---
import BaseCard from './BaseCard.astro';
import { translations, type Language } from '../../i18n/translations';

interface Props {
  lang: Language;
}

const { lang } = Astro.props;
const t = translations[lang].educationCard;
---

<BaseCard 
  title={t.title}
  columnClasses="col-span-1 sm:col-span-1 md:col-span-3 lg:col-span-5 md:col-start-auto lg:col-start-6"
  rowClasses="row-span-auto md:row-span-4"
>
  <div class="text-center mb-1 sm:mb-2">
    <h4 class="font-bold text-xs sm:text-sm md:text-base text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">{t.webDev.title}</h4>
    <p class="text-xs sm:text-sm md:text-base">{t.webDev.level}</p>
    <p class="text-xs sm:text-sm md:text-base">{t.webDev.institution}</p>
  </div>

  <div class="w-full border-t border-gray-600 my-0.5 sm:my-1"></div>

  <div class="text-center mb-1 sm:mb-2">
    <h4 class="font-bold text-xs sm:text-sm md:text-base text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">{t.appDev.title}</h4>
    <p class="text-xs sm:text-sm md:text-base">{t.appDev.level}</p>
    <p class="text-xs sm:text-sm md:text-base">{t.appDev.institution}</p>
  </div>

  <div class="w-full border-t border-gray-600 my-0.5 sm:my-1"></div>

  <div class="text-center">
    <h4 class="font-bold text-xs sm:text-sm md:text-base text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">{t.bachelor.title}</h4>
    <p class="text-xs sm:text-sm md:text-base">{t.bachelor.level}</p>
    <p class="text-xs sm:text-sm md:text-base">{t.bachelor.institution}</p>
  </div>
</BaseCard>